/*Adjust all sections to make sure everything is neat and organized and rename certain class names to be more appropriate*/
/*If you start to forget flexbox, you always have the css game & the YT video in your coding tips and tricks folder*/

*{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   line-height: 1.5;
}

body{
    background-color: var(--white);
}
:root{
    --dark: #000;
    --blue-highlight-text: #2776EA;
    --darker-blue: #1F5CB8;
    --light-blue: #2877EE;
    --blue-shade: #32496B;
    --white: #fff;
    --border: #e6ecf8;
    --shadow: #191919;  
}

/* Its doing the same thing as the navbar
header{
    background: var(--dark);
    position: relative;
    width: 100%;
}
*/
.e-lio {
    color: var(--darker-blue);
}

body {
    margin: 0;
}

/*Beginning of navigation bar*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8% 0 8%;
    /*box-sizing border box allows all the different divs to have border of the same size*/
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-bottom: 5%;
}

.nav-bar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-size: 1.25rem;
}

.nav-bar ul li a {
    text-decoration: none;
}

.btn {
   /* Find a way to get this to work
    color: var(--purple-shade);
    */
    background-color: var(--darker-blue);
    text-decoration: none;
    color: white;
    border: solid;
    border-color: transparent;
    border-radius: 3px;
    padding: 10px;
    margin-left: 5px;
}

/*Beginning of About Me section*/
/*Put a border here to look at the size of the div (adjust later)*/
.about-grid-container {
  display: grid;
  grid-gap: 20px;
  /*grid-template-columns: 50vw 50vw;
  grid-auto-rows: minmax(150px, auto);*/
  grid-template-areas: "a a a a a a a b b c c d d d d d d d";
  margin-bottom: 5%;
}

.about-child {
    line-height: 1.5;
}

.grid-item-1 {
   grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.about-info {
    font-size: 1.5rem;
}

.about-title {
    font-size: 2rem;
    color: var(--purple);
}

.icon-img {
    width: 400px;
    height: auto;
}

/*Skillset Section*/
/*Put a border here to look at the size of the div (adjust later)*/
.skill-parent-container {
   display: flex;
   margin-top: 50px;
   align-items: center;
   text-align: center;
   background: var(--darker-blue);
}

.skill-child-container1 {
   flex: 60%;
   margin-left: 5%;
   margin-right: 5%;
}

.skill-child-container2 {
    flex: 40%;
}

.skill-title {
   font-size: 2rem;
   color: var(--white);
}

.skill-info {
    font-size: 1.5rem;
}


.language-icons1 {
    display: flex;
    
}

.language-icons2 {
    display: flex;
    justify-content: center;
}

.parent_div{
    display: flex;
    margin-top: 50px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

.skill-items {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: auto;
    background: var(--light-blue);
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: 10px;
    margin: 6% 5% 6% 5%;
}

/*Project Section*/
.proj-title {
    margin-top: 2%;
    text-align: center;
}
.proj-img-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 5% auto;
    /*Remove background colour once your finished styling these*/
    background-color: var(--white);
    padding: 2% 0 2% 0;
}

.first-container {
    margin-bottom: 0%;
}

.the-project img {
    height: auto;
    width: 400px;
    border-radius: 5px;
    transition: 1.25s;
    cursor: pointer;
}

.the-project {
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 0 0;
}

.first-project, .first-project img {
    width: 800px;
}

.img-title {
    color: var(--blue-highlight-text);
    top: 0;
}

.the-project img:hover {
    transform: scale(1.3);
    filter: blur(2.3px);
}

.img-p {
    color: var(--blue-shade);
    padding-bottom: 10px;
}
.img-title, .img-p {
    padding-left: 5px;
}

/*Giving the hr tag a different color*/
hr {
    width: 80%;
    background-color: var(--blue-shade);
    border: none;
    height: 1px;
}



/*Contact Section*/
/*Put a border here to look at the size of the div (adjust later)*/
.contact-container {
    padding: 2% 0 2% 0;
    background: var(--darker-blue);
}

.contact-border {
    background: var(--white);
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: 10px;
    margin: 30px;
    padding: 2% 5% 2% 5%;
}
.contact-title {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.form-row {
   width: 50%;
   padding: 10px 0;
   display: flex;
   margin-left: auto;
   margin-right: auto;

}

.form-row input {
    /*setting all the flex-boxes to the same size in the container, since they share the same class name I only need to do it once*/
    flex: 1;
}

.contact-button {
    margin-top: 1.5%;
    align-items: center;
    width: 10%;
}

/*Footer*/
footer {
    background: var(--blue-shade);
    padding: 2% 0 2% 0;
    text-align: center;
}